<section class="coordinadores">
  <div class="container-fluid">
    <div class="row">
      <!-- COORDINADORES -->
      <div class="col-md">
        <div class="row">
          <div class="col">
            <h1>Coordinadores Community TREX</h1>
          </div>
        </div>

        <div class="row">
          <div class="col boton">
            <button
              type="button"
              class="mt-5 btn btn-success btn-md"
              (click)="registrarCoordinador()"
            >
              Dar de Alta
            </button>
          </div>
        </div>

        <hr class="w-100" />

        <div class="row">
          <div class="col-sm-4"></div>
          <div class="col-sm-4" *ngIf="coordinadores.length > 0; else elseCoordinadores">
            <div *ngFor="let coordinador of coordinadores">
              <app-coordinadores
                [coordinador]="coordinador"
                (coordinadorSeleccionado)="verDatosC($event)"
                (coordinadorEliminar)="onCoordinadorEliminar($event)"

              ></app-coordinadores>
            </div>
          </div>
          <div class="col-sm-4"></div>
          <ng-template #elseCoordinadores>
            <h4 class="card-title"><b>NO EXISTEN COORDINADORES DADOS DE ALTA</b></h4>
          </ng-template>
        </div>
      </div>
      <!-- FIN COORDINADORES -->
    </div>
  </div>
</section>

<div id="volver-admin">
  <a type="button" routerLink="/administracion/home" class="btn btn-md btn-danger">
    Volver a la pantalla de Administración
  </a>
</div>


<!-- Modal Coordinador -->
<div
  class="modal fade"
  id="modalCoordinador"
  tabindex="-1"
  role="dialog"
  aria-labelledby="datosCoordinador"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="ml-5 modal-title" id="datosCoordinador">
          <b>&nbsp;Datos Completos Coordinador&nbsp;</b>
        </h4>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <app-coordinador-item [coordinador]="coordinadorVerDatos"></app-coordinador-item>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-warning" data-dismiss="modal">
          Cerrar
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Modal Coordinador Modificar -->
<div
  class="modal fade"
  id="modalCoordinadorModificar"
  tabindex="-1"
  role="dialog"
  aria-labelledby="Modificar"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="ml-5 modal-title" id="datosCoordinadorModificar">
          <b>&nbsp;Actualizar Datos Coordinador&nbsp;</b>
        </h4>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <app-coordinador-modificar [coordinador]="coordinadorVerDatos"></app-coordinador-modificar>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-warning" data-dismiss="modal">
          Volver
        </button>
      </div>
    </div>
  </div>
</div>
