<!-- Footer fijo para toda la app -->

<div class="footer-icons">
  <a href="https://www.github.com" target="_blank">
    <i class="fa-brands fa-github"></i>
  </a>
  <a href="https://www.facebook.com" target="_blank">
    <i class="fa-brands fa-facebook"></i>
  </a>
  <a href="https://www.instagram.com" target="_blank">
    <i class="fa-brands fa-instagram-square"></i>
  </a>
  <a href="https://telegram.com.es/" target="_blank">
    <i class="fa-brands fa-telegram"></i>
  </a>
</div>

<div class="footer-container">
  <p>
    &copy; 2022 Copyright - DiverPlan.
    <br />
    Design by <strong>Juanma Ramírez</strong>. Diseñador Web en prácticas
    <br />
    Frontend Web alojado en
    <a href="https://github.com/raca1487/ProyectoAngularClase" target="_blank"><strong>GitHub</strong></a>
  </p>
</div>
