.footer-container {
  background: #a2b44d;
  color: #1c658c;
  font-size: 0.8rem;
  line-height: 2em;
  text-align: center;
  padding: 1rem 0;
  margin-top: 3rem;
  margin-bottom: 0%;
}
.footer-icons {
  font-size: x-large;
  margin-bottom: 1%;
}
