<hr class='w-100'>
<div class="row justify-content-end">
  <button class="btn btn-primary text-white" routerLink="/administracion/formulario">Nuevo Usuario</button>
</div>
<hr class='w-100'>
<div class="row">
  <div class="col-10 col-sm-10 col-md-4 col-lg-4 col-xl-4"><b>ALIAS</b></div>
  <div class="col-10 col-sm-10 col-md-4 col-lg-4 col-xl-4"><b>PASSWORD</b></div>
  <div class="col-10 col-sm-10 col-md-4 col-lg-4 col-xl-4"><b>TIPO de USUARIO</b></div>
</div>

<div *ngFor="let usuario of usuarios">
  <app-usuario [usuario]="usuario" (usuarioSeleccionado)="verDatos($event)"></app-usuario>
</div>
<!-- Modal usuario-->
<div class="modal fade" id="modalUsuario" tabindex="-1" role="dialog" aria-labelledby="datosUsuario"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="datosUsuario"><b>Datos del Usuario</b> </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <app-usuario-ficha *ngIf='usuarioVerDatos' [usuario]='usuarioVerDatos' (usuarioEliminar)='onUsuarioEliminar($event)' (usuarioEditar)='onUsuarioEditar($event)'></app-usuario-ficha>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="ngOnInit()">Cerrar</button>
      </div>
    </div>
  </div>
</div>

