<div class="valoraciones">
  <div *ngIf="valoraciones.length > 0; else elseValoraciones">
    <div *ngFor="let valoracion of valoraciones">
      <div class="p-2 m-1 card">
        <div class="card-body">
          <h4 class="card-title">
            <b>{{ valoracion.titulo }}</b>
          </h4>
          <p class="card-text">
            {{ valoracion.comentario }}
          </p>
          <!-- <p class="card-text">
            Puntuación: <b>{{ valoracion.puntuacion }}&nbsp;<fa-icon [icon]="faStar" class="star"></fa-icon></b>
          </p> -->

          <p *ngIf="valoracion.puntuacion == 5">
            <fa-icon [icon]="faStar" class="star"></fa-icon>
            <fa-icon [icon]="faStar" class="star"></fa-icon>
            <fa-icon [icon]="faStar" class="star"></fa-icon>
            <fa-icon [icon]="faStar" class="star"></fa-icon>
            <fa-icon [icon]="faStar" class="star"></fa-icon>
          </p>
          <p *ngIf="valoracion.puntuacion == 4">
            <fa-icon [icon]="faStar" class="star"></fa-icon>
            <fa-icon [icon]="faStar" class="star"></fa-icon>
            <fa-icon [icon]="faStar" class="star"></fa-icon>
            <fa-icon [icon]="faStar" class="star"></fa-icon>
          </p>
          <p *ngIf="valoracion.puntuacion == 3">
            <fa-icon [icon]="faStar" class="star"></fa-icon>
            <fa-icon [icon]="faStar" class="star"></fa-icon>
            <fa-icon [icon]="faStar" class="star"></fa-icon>
          </p>
          <p *ngIf="valoracion.puntuacion == 2">
            <fa-icon [icon]="faStar" class="star"></fa-icon>
            <fa-icon [icon]="faStar" class="star"></fa-icon>
          </p>
          <p *ngIf="valoracion.puntuacion == 1">
            <fa-icon [icon]="faStar" class="star"></fa-icon>
          </p>

          <p class="card-text text-right">
            <small>
              Fecha Publicación:
              <b>{{ valoracion.fechaPublicacion | date: "dd-MM-YYYY HH:mm z" }}</b>
            </small>
          </p>
        </div>
      </div>
    </div>
  </div>
  <ng-template #elseValoraciones>
    <h4 class="text-center"><b>NO HAY VALORACIONES REGISTRADAS</b></h4>
  </ng-template>
</div>
