.card {
  font-family: "Fredoka";
  /* background-color:rgb(250, 247, 215); */
  background-color: var(--color-light-grey);
  border-color: var(--color-blue);
  border-radius: 5%;
  font-size: medium;
  margin-top: 10%;
}

.card-title {
  /*font-family: "Bangers";*/
  color: var(--color-blue);
  text-align: center;
}

.card-text {
  text-align: justify;
}

.valoraciones {
  font-family: "Fredoka";
}
