<div class="card">

  <div class="card-body">
    <h4 class="card-title text-success"><b>Id:&nbsp;</b>{{ coordinador.id }}</h4>
    <h4 class="card-text"><b>{{coordinador.nombre}}&nbsp;{{ coordinador.apellidos }}</b></h4>
    <p class="card-text">Lugar de residencia: <b>{{ coordinador.residencia }}</b></p>
    <p class="card-text">Fecha de nacimiento: <b>{{ coordinador.fechaNac | date: 'dd-MM-YYYY' }}</b>
    <p class="card-text">Teléfono: <b>{{ coordinador.telefono }}</b>
    <p class="card-text">Correo electrónico: <b>{{ coordinador.email }}</b></p>
  </div>

</div>
