@import url("https://fonts.googleapis.com/css?family=Indie+Flower");
@import url("https://fonts.googleapis.com/css?family=Fredoka");

#contact {
  font-family: "Fredoka";
  background: #a2b44d;
  padding: 25px;
  margin: 150px 0;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  border-radius: 25px;
}
.container-contact {
  max-width: 400px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}
#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact textarea {
  font: 400 12px/16px /*"Indie Flower", */"Roboto", Helvetica, Arial, sans-serif;
  font-style: italic;
}
#contact h3 {
  font-family: "Bangers";
  color: #0f4d6e;
  display: block;
  font-size: 30px;
  font-weight: 300;
  margin-bottom: 10px;
}
#contact h4 {
  font-family: "Fredoka";
  margin: 5px 0 15px;
  display: block;
  font-size: 13px;
  font-weight: 400;
}
fieldset {
  border: medium none !important;
  margin: 0 0 10px;
  min-width: 100%;
  padding: 0;
  width: 100%;
}
#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact textarea {
  width: 100%;
  border: 1px solid #aaa;
  background: #fff;
  margin: 0 0 5px;
  padding: 10px;
}
#contact input[type="text"]:hover,
#contact input[type="email"]:hover,
#contact input[type="tel"]:hover,
#contact textarea:hover {
  transition: all 0.3s linear;
  border: 1px solid #aaa;
}
#contact textarea {
  height: 100px;
  max-width: 100%;
  resize: none;
}
#contact button[type="submit"] {
  font-family: "Fredoka";
  cursor: pointer;
  width: 100%;
  border: none;
  background: #1c658c;
  color: #fff;
  margin: 0 0 5px;
  padding: 10px;
  font-size: 15px;
}
#contact button[type="submit"]:hover {
  background: #0f4d6e;
  color: #f6d860;
  transition: all 0.3s linear;
  font-style: italic;
}
#contact button[type="reset"] {
  font-family: "Fredoka";
  cursor: pointer;
  width: 100%;
  border: none;
  background: #1c658c;
  color: #fff;
  margin: 0 0 5px;
  padding: 10px;
  font-size: 15px;
}
#contact button[type="reset"]:hover {
  background: #0f4d6e;
  color: #f6d860;
  transition: all 0.3s linear;
  font-style: italic;
}
#contact input:focus,
#contact textarea:focus {
  outline: 0;
  border: 2px solid rgb(117, 117, 117);
}
