@import url("https://fonts.googleapis.com/css?family=Fredoka");

/*Experiences Style*/
.experiences h1 {
  font-family: "Permanent Marker";
  color: #1c658c;
  padding-top: 1em;
  margin-bottom: 1em;
}

.col-md-6 {
  text-align: center;
  padding: 2%;
  margin-top: 5%;
}

.boton {
  margin-top: -5%;
}

.cabecera-viajes h4 {
  font-family: "Permanent Marker";
  color: #1c658c;
}

.datos-viajes {
  font-family: "Fredoka";
}

.modal {
  font-family: "Fredoka";
}

.modal h4 {
  font-family: "Permanent Marker";
  color: #1c658c;
}


#volver {
  margin: 5% 0 5% 45%;
}
#volver-admin {
  margin: 5% 0 5% 45%;
}
