/*Experiences Style*/
.experiences h1 {
  font-family: "Permanent Marker";
  color: var(--color-blue);
  padding-top: 1em;
  margin-bottom: 1em;
}

.col-md-6 {
  text-align: center;
  padding: 2%;
  margin-top: 7%;
}

.cabecera-viajes h4 {
  font-family: "Permanent Marker";
  color: var(--color-blue);
}

.datos-viajes {
  font-family: "Fredoka";
}

.modal {
  font-family: "Fredoka";
}

.modal h4 {
  font-family: "Permanent Marker";
  color: var(--color-blue);
}
