<section class="experiences">
  <div class="container-fluid">
    <div class="row">

      <div class="col-md-6">
        <div class="row">
          <div class="col">
            <h1>Viajes</h1>
          </div>
          <div class="col">
            <button type="button" class="mt-5 btn btn-success btn-md" (click)='registrarViaje()'>Nuevo Viaje</button>
          </div>
        </div>

        <hr class="w-100">

        <div class="row">
          <div class="col-sm-3"></div>
          <div class="col-sm-6" *ngIf="viajes.length > 0; else elseViajes">
            <div *ngFor="let viaje of viajes">
              <app-viajes [viaje]="viaje" (viajeSeleccionado)="verDatos($event)"></app-viajes>
            </div>
          </div>
          <div class="col-sm-3"></div>
          <ng-template #elseViajes>
            <h4 class="card-title"><b>NO HAY VIAJES DISPONIBLES</b></h4>
          </ng-template>

        </div>

      </div>

    </div>
  </div>
</section>
