<section class="content">
  <div class="overlay2"></div>
  <div class="encabezados">
    <h1>Conviértete en Coordinador</h1>
    <h3>Exploras el mundo y haces nuevos amigos</h3>
  </div>
</section>

<section class="banner-tourmaker">
  <div class="container-banner">
    <div class="row">
      <div class="col-sm-12">
        <h2>¿Por qué convertirse en Coordinador?</h2>
        <p>
          En tres hashtag: #DaslavueltaalMundo, #ConocesGenteIncreible y
          #CrecesComoPersona.<br />
          En TREX somos un grupo de viajeros apasionados, enamorados del
          mundo y hambrientos por hacer nuevas amistades. Algunos de
          nosotros llevan la camiseta de coordinador solo 1 o 2 veces al
          año durante sus vacaciones, mientras que otros trabajan en ello
          full time todo el año.
        </p>
        <p>
          Pero para todos nosotros cada viaje es una emoción, nos
          arriesgamos y llevamos las riendas de un grupo de gente como
          nosotros para descubrir otro país y otras culturas.
        </p>
        <p>
          Pero la mayor satisfacción llega siempre el último día, cuando
          miramos a los ojos de la gente que ha viajado con nosotros, y
          saber que hemos pasado de ser desconocidos a tener un amigo en
          cada lugar de España.
        </p>
        <a routerLink="formulario">
          <button type="button" class="btn btn-primary btn-lg">
            Envía tu solicitud
          </button>
        </a>
      </div>
    </div>
  </div>
</section>
