@import url("https://fonts.googleapis.com/css?family=Fredoka");

.card-body {
  font-family: "Fredoka";
}

.card-title {
  /*font-family: "Bangers";*/
  color: #1c658c;
  text-align: center;
}

.card-text {
  text-align: justify;
}
