.card {
  /* background-color:rgb(250, 247, 215); */
  background-color: var(--color-light-grey);
  border-color: var(--color-blue);
  border-radius: 10%;
}

.card-body {
  font-family: "Fredoka";
}

.card-title {
  color: var(--color-blue);
}
