@import url("https://fonts.googleapis.com/css?family=Indie+Flower");
@import url("https://fonts.googleapis.com/css?family=Fredoka");

.logo-home {
  margin-top: 5%;
  margin-left: 37%;
}

#contact {
  font-family: "Fredoka";
  padding: 25px;
  margin: 50px 0;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  border-radius: 25px;
}
.container-contact {
  max-width: 400px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}
.container-contact h2 {
  font-family: "Permanent Marker";
  text-align: center;
  color: #1c658c;
  display: block;
  margin-top: 35px;
}

#contact input[type="text"],
#contact input[type="password"] {
  font: 400 12px/16px /*"Indie Flower", */"Roboto", Helvetica, Arial, sans-serif;
  font-style: italic;
}

fieldset {
  border: medium none !important;
  margin: 0 0 10px;
  min-width: 100%;
  padding: 0;
  width: 100%;
}
#contact input[type="text"],
#contact input[type="password"]  {
  width: 100%;
  border: 1px solid #aaa;
  background: #fff;
  margin: 0 0 5px;
  padding: 10px;
}
#contact input[type="text"],
#contact input[type="password"]:hover {
  transition: all 0.3s linear;
  border: 1px solid #aaa;
}
#contact button {
  font-family: "Fredoka";
  cursor: pointer;
  width: 100%;
  border: none;
  background: #1c658c;
  color: #fff;
  margin: 0 0 5px;
  padding: 10px;
  font-size: 15px;
}
#contact button:hover {
  background: #0f4d6e;
  color: #f6d860;
  transition: all 0.3s linear;
  font-style: italic;
}

#contact input:focus {
  outline: 0;
  border: 2px solid rgb(117, 117, 117);
}
