.logo-home {
  display: flex;
  justify-content: center;
  margin-top: 5%;
}

#login {
  font-family: "Fredoka";
  padding: 25px;
  margin: 50px 0;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  border-radius: 25px;
}
.container-login {
  max-width: 400px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}
.container-login h2 {
  font-family: "Permanent Marker";
  text-align: center;
  color: var(--color-blue-trex);
  display: block;
  margin-top: 35px;
}

#login input[type="text"],
#login input[type="password"] {
  font: 400 12px/16px /*"Indie Flower", */"Roboto", Helvetica, Arial, sans-serif;
  /* font-style: italic; */
}

fieldset {
  border: medium;
  margin: 0 0 10px;
  padding: 0;
  width: 100%;
}
#login input[type="text"],
#login input[type="password"]  {
  width: 100%;
  border: 1px solid var(--color-blue);
  background: var(--color-light);
  margin: 0 0 5px;
  padding: 10px;
}
#login input[type="text"],
#login input[type="password"]:hover {
  transition: all 0.3s linear;
  border: 1px solid var(--color-blue);
}
#login button {
  font-family: "Fredoka";
  cursor: pointer;
  width: 100%;
  border: none;
  background: var(--color-blue-gradient);
  color: var(--color-light);
  margin: 0 0 5px;
  padding: 10px;
  font-size: 15px;
}
#login button:hover {
  background: var(--color-dark-blue-gradient);
  color: var(--color-yellow);
  transition: all 0.3s linear;
  font-style: italic;
}

#login input:focus {
  outline: 0;
  border: 2px solid rgb(117, 117, 117);
}
