<div class="logo-home">
  <img src="../../../assets/logo_trex.png" alt="logo_home" width="500px"/>
</div>

<div class="container-contact">
  <h2>Acceder a TREX</h2>
  <form id="contact">
    <fieldset>
      <input
        placeholder="Usuario"
        type="text"
        tabindex="1"
        name="user"
        [(ngModel)]="nombreUsuario"
        required
        autofocus
      />
    </fieldset>

    <fieldset>
      <input placeholder="Password" type="password" tabindex="2" name="password" [(ngModel)]="password" required />
    </fieldset>

    <fieldset>
      <button
        name="login"
        type="submit"
        id="contact-submit"
        tabindex="3"
        (click)="comprobarLogging()"
      >
        Login
      </button>

      <button
        name="guest"
        type="button"
        tabindex="4"
        routerLink="/home"
      >
        Acceder como "invitado"
      </button>
    </fieldset>
  </form>
</div>
