* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}

a {
  text-decoration: none;
  color: var(--color-blue);
  font-size: 1.2rem;
}

/*Contenedor de Navegación*/
.navbar {
  font-family: "Bangers";
  background: var(--color-navbar-gradient);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
}

/*Logo del Menú de Navegación*/
.navbar-brand {
  position: relative;
  padding-bottom: 1%;
  padding-left: 3%;
}

.hamburger {
  padding-right: 5%;
  cursor: pointer;
}

.hamburger .line {
  display: block;
  width: 40px;
  height: 3px;
  margin-bottom: 10px;
  background-color: var(--color-blue);
}


/*Enlaces del Menú de Navegación*/
.nav-link {
  position: fixed;
  width: 94%;
  top: 5rem;
  left: 18px;
  background-color: var(--color-blue);
}

.nav-link a {
  display: block;
  text-align: center;
  padding: 10px 0;

  transition: all 0.3s linear;
  border-radius: 5px;
}

.nav-link a:hover {
  color: var(--color-yellow);
  background-color: var(--color-blue);
}

.hide {
  display: none;
}

@media screen and (min-width: 800px) {
  .nav-link {
    display: block;
    position: static;
    width: auto;
    margin-right: 20px;
    background: none;
  }

  .nav-link a {
    display: inline-block;
    padding: 10px;
  }

  .hamburger {
    display: none;
  }

}

ul {
  list-style-type: none;
}

.navigation {
  margin: 0 auto;
  display: flex;
  flex-direction: row;

}

@media screen and (max-width: 800px) {
	.menu_bar .bt-menu {
		display: block;
		padding: 20px;
		color: #fff;
		overflow: hidden;
		font-size: 25px;
		font-weight: bold;
		text-decoration: none;
	}

	.menu_bar span {
		float: right;
		font-size: 40px;
	}

	.nav-link {
		width: 80%;
		height: calc(100% - 80px);
		position: fixed;
		right:100%;
		margin: 0;
		overflow: scroll;
	}

	.nav-link ul li {
		display: block;
		border-bottom:1px solid rgba(255,255,255,.5);
	}

	.nav-link ul li a {
		display: block;
	}

	.nav-link ul li:hover .dropdown-item {
		display: none;
	}

	.nav-link ul li .dropdown-item {
		width: 100%;
		position: relative;
	}

	#navbarDropdown1, #navbarDropdown2 {
		float: right;
	}
}

