<!-- Header, con barra de navegación, fijo para toda la app -->

<nav class="navbar fixed-top">
  <!--Logo de la barra de navegación-->
  <a class="navbar-brand" routerLink="/home">
    <img
      src="./assets/logo_trex.png"
      alt="Logo TREX"
      width="250px"
      height="auto"
    />
  </a>

  <!--Botón de la barra de navegación responsive-->
  <button
    class="navbar-toggler"
    type="button"
    data-target="#trexapp"
    aria-controls="trexapp"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- <div class="hamburger">
    <span class="line"></span>
    <span class="line"></span>
    <span class="line"></span>
  </div> -->

  <!--Botones de la barra de navegación-->
  <div class="nav-link hide" id="trexapp">
    <div class="nav-item dropdown" routerLinkActive="router-link-active">

      <ul class="navigation col-12">
        <li>
          <!-- <a routerLink="experiences">Experiencias</a>&nbsp; -->
          <a
            class="nav-link dropdown-toggle"
            id="navbarDropdown1"
            role="button"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false">
            Experiencias
          </a>

          <div class="dropdown-menu" aria-labelledby="navbarDropdown1">
            <a class="dropdown-item" routerLink="/home/experiences/viajes">Viajes</a>
            <a class="dropdown-item" routerLink="/home/experiences/actividades">Actividades</a>
          </div>
        </li>

        <li>
          <a
            class="nav-link dropdown-toggle"
            id="navbarDropdown2"
            role="button"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            Community Trex
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown2">
            <a class="dropdown-item" routerLink="community/trabaja-con-nosotros">
              Trabaja con nosotros
            </a>
            <a class="dropdown-item" routerLink="community/contacto">Contacto</a>
            <a class="dropdown-item" routerLink="/en-construccion">Foro</a>
            <div class="dropdown-divider"></div>
              <a class="dropdown-item admin" routerLink="/">
                <fa-icon [icon]="faUser"></fa-icon>&nbsp;&nbsp;Área Administración
              </a>
          </div>
        </li>

        <li>
          <a  href="https://www.sanidad.gob.es/profesionales/saludPublica/ccayes/alertasActual/nCov/home.htm"
              target="_blank">
              Info COVID-19
          </a>
        </li>
      </ul>

    </div>
  </div>
</nav>
