<body>
  <section class="inicio">
    <div class="overlay"></div>
    <div class="container-fluid">
      <div class="banner-description">
        <h1>Travel Experience App</h1>
        <p>
          La mejor web para consultar experiencias de otros usuarios en base a
          gustos particulares. Prepara tu viaje soñado, en pareja, grupo o de
          manera individual. Si por el contrario, lo que quieres es disfrutar de
          una jornada en tu ciudad, realiza alguna de nuestra amplia gama de
          ofertas de actividades de entretenimiento, junto a los mejores
          coordinadores de nuestra comunidad
        </p>

        <button type="button" class="btn btn-primary btn-md" routerLink="/home/busqueda">
          Comienza tu búsqueda
        </button>
        &NonBreakingSpace;
        <button type="button" class="btn btn-primary btn-md" routerLink="experiences">
          Ir a Experiencias
        </button>

      </div>
    </div>
  </section>

  <section class="banner-info">
    <div class="container">
      <div class="row">
        <article class="col-md-4">
          <div
            class="wr-icon-block-container-image inline-block relative default"
          >
            <div class="icon-block-image w-full">
              <div
                id="icon-block-image"
                class="wr-image inline-block h-auto w-full w-full"
              >
                <img
                  src="../../../assets/banner_info-tickets.png"
                  width="80"
                  height="auto"
                />
              </div>
            </div>
          </div>
          <h4>Reserva sin preocupaciones</h4>
          <p>
            ¿Estás pensando en cambiar de aires con un viaje pero te da
            "canguele" reservar? Don't worry: si no pudieras viajar por culpa de
            las nuevas restricciones, te reembolsamos el 100%.
          </p>
          <!-- <button type="button" class="btn btn-primary btn-sm disabled">
            Saber más
          </button> -->
        </article>

        <article class="col-md-4">
          <div
            class="wr-icon-block-container-image inline-block relative default"
          >
            <div class="icon-block-image w-full">
              <div
                id="icon-block-image"
                class="wr-image inline-block h-auto w-full w-full"
              >
                <img
                  src="../../../assets/banner_info-heart.png"
                  width="80"
                  height="auto"
                />
              </div>
            </div>
          </div>
          <h4>Cómo funciona</h4>
          <p>Descubre la fórmula que hará de tu viaje una experiencia única</p>
          <!-- <button type="button" class="btn btn-primary btn-sm disabled">
            Saber más
          </button> -->
        </article>

        <article class="col-md-4">
          <div
            class="wr-icon-block-container-image inline-block relative default"
          >
            <div class="icon-block-image w-full">
              <div
                id="icon-block-image"
                class="wr-image inline-block h-auto w-full w-full"
              >
                <img
                  src="../../../assets/banner_info-hands.png"
                  width="80"
                  height="auto"
                />
              </div>
            </div>
          </div>
          <h4>Te ayudamos con los vuelos</h4>
          <p>
            Queremos ponerte todo mucho más fácil, así que ahora, ¡te ayudamos a
            encontrar los vuelos para tu viaje!
          </p>
          <!-- <button type="button" class="btn btn-primary btn-sm disabled">
            Saber más
          </button> -->
        </article>
      </div>
    </div>
  </section>

</body>
