<section class="travel-title">
  <div class="overlay"></div>
  <div class="container-fluid">
    <div class="banner-travel">
      <h1>{{ viaje.nombre | uppercase }}</h1>
    </div>
  </div>
</section>

<section class="travel-description">
  <div class="container">
    <div class="row">
      <article class="col-md-8">
        <p>{{ viaje.descripcion }}</p>
      </article>
      <article class="banner-infotravel col-md-4">
        <div class="description-info-content">
          <h3>{{ viaje.nombre | uppercase }} · {{ viaje.duracionViaje }} días</h3>
          <h2 style="color: red;">{{ viaje.precio }} €</h2>
          <hr>
          <div class="text-center">
            <a href="https://www.skyscanner.es/" target="_blank"><fa-icon [icon]="faPlaneUp"></fa-icon> Busca tu vuelo</a>
          </div>
          <!--<hr>
          <h2 style="font-weight: bold;">Qué está incluido</h2>
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Est, quo obcaecati corporis excepturi odio vitae illum id harum ipsum eum amet exercitationem dolores! Dolorem totam ducimus itaque aliquid. Fugit, nihil!</p>
          -->
        </div>
      </article>
    </div>
  </div>
</section>

<section class="valoraciones">

  <div class="valoraciones-title">
    <div class="container-fluid">
      <div class="banner-valoraciones">
        <div class="row">
          <div class="col">
            <h1>Valoraciones</h1>
          </div>
          <div class="col">
            <button class="btn btn-success btn-lg" (click)="nuevaValoracion()">Nueva Valoración</button>
          </div>
          <hr>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-4" *ngIf="viaje.valoraciones.length > 0; else elseValoraciones">
      <div *ngFor="let valoracion of viaje.valoraciones">
        <app-valoraciones></app-valoraciones>
      </div>
    </div>
    <ng-template #elseValoraciones>
      <div class="card">
        <div class="card-body">
          <h4 class="card-title"><b>NO HAY VALORACIONES</b></h4>
        </div>
      </div>
    </ng-template>
  </div>

</section>

<div id="volver">
  <a type="button" routerLink="/experiences" class="btn btn-md btn-danger"
        >Volver a Experiencias</a
      >
</div>
