<section class="travel-title">
  <div class="overlay">
    <img [src]='"../../../../assets/" + viaje.id + ".jpg"' width="100%" height="600px">
  </div>
  <div class="container-fluid">
    <div class="banner-travel">
      <h1>{{ viaje.nombre | uppercase }}</h1>
    </div>
  </div>
</section>

<section class="travel-description">
  <div class="container">
    <div class="row">
      <article class="col-md-8">
        <p>{{ viaje.descripcion }}</p>
      </article>
      <article class="banner-infotravel col-md-4">
        <div class="description-info-content">
          <h3>{{ viaje.nombre | uppercase }} · {{ viaje.numeroNoches }} días</h3>
          <h2 style="color: red;">{{ viaje.precioTotal }} €</h2>
          <hr>
          <div class="text-center">
            <a href="https://www.skyscanner.es/" target="_blank"><fa-icon [icon]="faPlaneUp"></fa-icon> Busca tu vuelo</a>
          </div>
          <!--<hr>
          <h2 style="font-weight: bold;">Qué está incluido</h2>
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Est, quo obcaecati corporis excepturi odio vitae illum id harum ipsum eum amet exercitationem dolores! Dolorem totam ducimus itaque aliquid. Fugit, nihil!</p>
          -->
        </div>
      </article>
    </div>
  </div>
</section>

<section class="valoraciones">

  <div class="valoraciones-title">
    <div class="container-fluid">
      <div class="banner-valoraciones">
        <div class="row">
          <div class="col">
            <h1>Valoraciones</h1>
          </div>
        </div>
        <!-- <div class="row">
          <div class="col botonera">
            <button class="btn btn-success btn-lg" (click)="nuevaValoracion()">Nueva Valoración</button>
          </div>
        </div> -->
      </div>

        <hr class="w-100">

      <!-- </div> -->
    </div>
  </div>

  <div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-6">
      <div>
        <app-valoracion></app-valoracion>
      </div>
    </div>
    <div class="col-sm-3"></div>
  </div>

</section>

<div id="volver">
  <a type="button" routerLink="/home/experiences" class="btn btn-md btn-danger">
    Volver a Experiencias
  </a>
</div>

<!-- <div>
  <img [src]='"../../../../assets/" + viaje.id + ".png"'>
</div> -->

<!-- Modal Valoraciones -->
<!-- <div
  class="modal fade"
  id="modalValoraciones"
  tabindex="-1"
  role="dialog"
  aria-labelledby="datosValoracion"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="ml-5 modal-title" id="datosValoracion">
          <b>&nbsp;Valoraciones Viaje&nbsp;</b>
        </h4>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <app-valoracion-viaje-item [valoracion]="valoracionVerDatos"></app-valoracion-viaje-item>

        <div class="p-2 m-1 card">
          <div class="card-body">
            <h4 class="card-title"><b>{{ valoracion.titulo }}</b></h4>
            <p class="card-text">
              {{ valoracion.comentario }}
            </p>
            <p class="card-text">
              Puntuación: <b>{{ valoracion.puntuacion }}*</b>
            </p>
          </div>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-warning" data-dismiss="modal">
          Cerrar
        </button>
      </div>
    </div>
  </div>
</div> -->

