/* .travel-title {
  background-image: url("../../../../assets/banner_playa.jpg");
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  height: 600px;
} */

.overlay {
  opacity: 60%;
  left: 0;
  right: 0;
  top: 0;
}

.banner-travel {
  position: absolute;
  top: 55%;
  margin-left: 15%;
}

.banner-travel h1 {
  font-family: "Permanent Marker";
  color: var(--color-dark-blue);
}

.travel-description {
  margin-top: 3%;
}

.banner-infotravel {
  background-color: var(--color-light);
  border-width: 2px;
  border-style: ridge;
  border-radius: 15px;
}

.description-info-content {
  margin: 5% 0;
}

.description-info-content h2, h3 {
  text-align: center;
}

.description-info-content p {
  margin: 3% 5% 5% 15%;
  font-size: small;
  text-align: justify;
}

/* Valoraciones Style */
.banner-valoraciones h1 {
  font-family: "Permanent Marker";
  color: var(--color-dark-blue);
  text-align: center;
  margin-top: 10%;
}

.botonera {
  margin-top: 2%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  text-align: center;
}
