<div class="header">
  <div class="admin-icon">
    <fa-icon [icon]="faUser" style="color:green"></fa-icon>
  </div>

  <a type="button" class="btn btn-sm btn-danger" routerLink="/">
    Desconectarse
  </a>

  <div class="logo-home">
    <img src="../../../assets/logo_trex.png" alt="logo_home" width="500px"/>
  </div>
</div>


<div class="encabezado">
  <h1 class="text-center"><b>Bienvenido a la Administración de TREX</b></h1>
  <h4 class="text-center">Seleccione sobre qué desea realizar una acción</h4>
</div>

<div class="row">

  <div class="col col-md-4 col-lg-4 col-sm-12 mb-5">
    <h1 class="text-center">Experiencias</h1>
    <div class="card">
      <div class="card-img">
        <a routerLink="/administracion/experiences">
          <img src="../../../assets/viajes.jpg" class="img-fluid" />
        </a>
      </div>
    </div>
  </div>

  <div class="col col-md-4 col-lg-4 col-sm-12 mb-5">
    <h1 class="text-center">Coordinadores</h1>
    <div class="card">
      <div class="card-img">
        <a routerLink="/administracion/coordinadores">
          <img src="../../../assets/guias_de_turistas.webp" class="img-fluid" />
        </a>
      </div>
    </div>
  </div>

  <div class="col col-md-4 col-lg-4 col-sm-12 mb-5">
    <h1 class="text-center">Valoraciones</h1>
    <div class="card">
      <div class="card-img">
        <a routerLink="/en-construccion">
          <img src="../../../assets/comentarios.jpg" class="img-fluid" />
        </a>
      </div>
    </div>
  </div>

  <div class="col-md-4"></div>
  <div class="col-md-4"></div>
</div>
